<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, {{request.session.username}}</h1>
    <a href="http://localhost:8000/testsystem/logout/">Logout</a>
    <h1>Test</h1>
    <h4>Start Test</h4>
    <p>Instructions</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aliquid nostrum rerum voluptatibus saepe molestias, officia quia doloremque possimus esse vel modi atque, corrupti deleniti. Debitis dolore sapiente nulla eos illum soluta quod corrupti distinctio. Perferendis, tempora voluptate eius commodi provident ipsum velit minus recusandae? Repellat deserunt quos vel est.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quaerat veniam fugit corporis repudiandae. Esse, officiis eveniet provident nisi similique neque minima. Quae, illo tempora aspernatur quis unde molestias aut iste distinctio doloremque vitae delectus magni earum temporibus dicta esse harum, nobis nemo hic deleniti enim reiciendis beatae nihil similique.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius praesentium sapiente autem eum, doloribus ipsum iure temporibus aperiam magni ex reiciendis, aliquam ab eligendi velit voluptatibus aliquid doloremque magnam. Delectus iure doloremque nisi nihil iusto nobis libero voluptate ipsa laborum tenetur? Ipsam corporis eos odio perspiciatis facilis nostrum suscipit porro!</p>
    <a href="http://localhost:8000/testsystem/questions/"><button type="submit" href=>Start Test</button></a>
</body>
</html>